# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

Por ejemplo:

1. Puede importar el CSV generado por Python a su computadora portátil y explorarlo.
2. Puede conectarse a su base de datos usando `pandas.read_sql` desde este cuaderno y explorarla.

In [5]:
# Ejemplo de lectura de la base de datos SQL desde aquí
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd

# cargar las variables del archivo .env
load_dotenv()

connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
engine = create_engine(connection_string).execution_options(autocommit=True)
engine.connect()

# dataframe = pd.read_sql("Select * from books;", engine)
# print(dataframe.describe())

In [29]:
#Librerias

import sqlite3
import pandas as pd

#Conectamos a la DB

con = sqlite3.connect("exercise.db")

#Creamos el cursor

c = con.cursor()

In [30]:
#Creamos las tablas

#c.execute('''DROP TABLE publishers''')

c.execute('''CREATE TABLE publishers(
                id_publisher INT NOT NULL,
                name VARCHAR(255) NOT NULL,
                PRIMARY KEY(id_publisher)
);''')

c.execute('''CREATE TABLE authors(
                id_author INT NOT NULL,
                first_name VARCHAR(100) NOT NULL,
                middle_name VARCHAR(100) NULL,
                last_name VARCHAR(100) NULL,
               PRIMARY KEY(id_author)
);''')

c.execute('''CREATE TABLE books(
                id_book INT NOT NULL,
                title VARCHAR(255) NOT NULL,
                total_pages INT NULL,
                rating DECIMAL(4, 2) NULL,
                isbn VARCHAR(13) NULL,
                published_date DATE,
                id_publisher INT NULL,
                PRIMARY KEY(id_book),
                CONSTRAINT fk_publisher FOREIGN KEY(id_publisher) REFERENCES publishers(id_publisher)
);''')

c.execute('''CREATE TABLE book_authors(
                id_book INT NOT NULL,
                id_author INT NOT NULL,
                PRIMARY KEY(id_book, id_author),
                CONSTRAINT fk_book FOREIGN KEY(id_book) REFERENCES books(id_book) ON DELETE CASCADE,
                CONSTRAINT fk_author FOREIGN KEY(id_author) REFERENCES authors(id_author) ON DELETE CASCADE
);''')

In [34]:
#INSERTAMOS LOS DATOS
data_publisher = [(1, "O Reilly Media"),(2, "A Book Apart"), (3, "A K PETERS"), (4, "Academi Press"), (5, "Addison Wesley"), (6, "Albert&Sweigart"),(7, "Alfred A. Knopf")]
#c.executemany("INSERT INTO publishers(id_publisher, name) VALUES (?, ?);", data_publisher)

data_author = [(1, "Merritt","", "Eric"), (2, "Linda","", "Mui"), (3, "Alecos","", "Papadatos"), (4, "Anthony", "", "Molinaro"), (5, "David", "", "Cronin"), (6, "Richard", "", "Blum"), (7, "Yuval", "Noah", "Harari"), (8, "Paul", "", "Albitz")] 
#c.executemany("INSERT INTO authors(id_author, first_name, middle_name, last_name) VALUES (?,?,?,?);", data_author)